@charset "UTF-8";

// ***********************************************
//  Button
// ***********************************************

// /
// =====================================
.date-button {
  position: relative;
  display: block;
  padding: 10px 12px;
  width: 60px;
  height: 60px;
  vertical-align: bottom;
  text-align: center;
  font-family: $ff-accent;
  font-size: 1.2rem;
  color: #7d8df2;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-decoration: none;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -10 - 5px;
    display: block;
    width: 16px;
    height: 5px;
    border: 2px solid #455bec;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #fff;
  }

  strong {
    display: block;
    font-size: 3.0rem;
  }

  &.is-active {
    color: #455bec;
    background-color: #fff;
    border-radius: 50%;
    &::after {
      // background-color: #000;
    }

    strong {
    }
  }
}
