@charset "UTF-8";

// ***********************************************
//  Essential
// ***********************************************

// Container
// =====================================
#container {
  display: block;
  overflow: hidden;
  width: 100%;
  min-width: $sp-min-width;
  max-width: $sp-max-width;
  margin: 0 auto;
}

.wrap {
  margin: 0 auto;
}


// Header
// =====================================
.l-header {
}


// Footer
// =====================================
.l-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}
