@charset "UTF-8";

// ***********************************************
//  Essential
// ***********************************************

// Container
// =====================================
#container {
  display: block;
  overflow: hidden;
  width: 100%;
  min-width: $sp-min-width;
}

.wrap {
  margin: 0 auto;
}


// Header
// =====================================
.l-header {
}


// Footer
// =====================================
.l-footer {
}
