@charset "UTF-8";

// ***********************************************
//  List
// ***********************************************

// Date List
// =====================================
.date-list {
  display: block;
  text-align: center;
  font-size: 0;

  >li {
    display: inline-block;
    font-size: 1.6rem;
  }
}


// Timeline List
// =====================================
.timeline {
  &-container {
    position: relative;
    display: block;

    >li {
      position: absolute;
      top: 0;
      width: 100vw;
    }
  }

  >li {
  }
}
